.main {
	margin-top: 2em;
	margin-bottom: 2em;
	.white {
		background: rgba(255,255,255,0.8);
		padding: 2em;
	}
}

article {
	h3 {
		margin-top: 1em;
		a {
			background: #AFCD5C;
			padding: 3px 10px;
			color: white;
		}
	}
}