.widget {
	margin-bottom: 2em;
	.widget-header {
		display: inline-block;
		background: #F2C45A;
		color: white;
		padding: 5px 10px;
		position: relative;
		top: 8px;
	}
	ul {
		margin-bottom: 0;
	}
	.white-panel {
		background: rgba(255,255,255,0.6);
		padding: 1em;
	}
}